
.coin-data{
    max-width: 57rem;
    
}

.coin-row{
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e7e7e7;
   
    padding:10px 0
}


.symbol{
    background-color:#D4F1F4;
    color: #000C66;
    /* border-radius:30% ; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.data-table .coin-row{
    border-bottom: 1px solid #e7e7e7;
}
h5{
    margin: 0;
}